[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
pandas = "*"
matplotlib = "*"
squarify = "*"
seaborn = "*"
loguru = "*"
mypy = "*"
kaleido = "*"
linear-programming-setup = {editable = true, path = "."}
humanfriendly = "*"
loguru-logging-intercept = "*"

[dev-packages]

[requires]
python_version = "3.11"
